/*----------------------------------*/
/* Style.css						*/
/* Our custom styles				*/
/*----------------------------------*/

html, body, #mapDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #303030;
	font-family: sans-serif, arial;
}
#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 103px;
    left: 74px;
}

#header {
	color: #ffffff;
	background-color: #303030;
}

#title {
	float:left;
	padding-left: 20px;
}

#links {
	float: right;
	margin-top: 20px;
	padding-right: 20px;
}

#headlinks ul {
	list-style-type: none;
}

#headlinks li {
	display: inline;
	padding-right: 8px;
}

#headlinks a {
	color: #ccf7ff;
	text-decoration: none;
	font-weight: bold;
}

#headlinks a:hover {
	text-decoration: underline;
}

#legendDiv {
      background-color: #fff;
      position: absolute !important;
      z-index: 99;
      top:10px;
      right:20px;
    }
