
/*Main CSS for entire site*/

body {
	width: 960px;
	padding: 10px 0;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	color: #606060;
}

.titleTextCentered {
	text-align: center;
}

#nav {
	border: 1px solid #E8E8E8;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#nav li {
	display: inline;
}

#nav a {
	display: inline-block;
	padding: 10px;
}

a {
	color: #0099CC;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.caption {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	font-size: 80%;
	line-height: 50%;
}


