<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useThumbDots="false"
	useFullscreenExpand="false"
	indexPageName="gallery.html"

>
  <image imageURL="images/WatershedsByPopulationDRAFT.jpg"
	thumbURL="thumbs/WatershedsByPopulationDRAFT.jpg"
	linkURL="images/WatershedsByPopulationDRAFT.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Taylor/Downloads/WatershedsByPopulationDRAFT.png">
    <title><![CDATA[WatershedsByPopulationDRAFT]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>