<?xml version="1.0" ?>
<configuration>
    <title>Upstream-Downstream Watershed Finder</title>
    <logo>assets/images/logo.png</logo>
    <style>
        <colors>0xffffff,0x3366,0x6633,0x990099,0xffd700</colors>
        <alpha>0.37</alpha>
        <font name="Verdana"/>
        <titlefont name="Verdana"/>
        <subtitlefont name="Verdana"/>
    </style>
    <!-- replace the following url with your own geometryservice -->
    <geometryservice url="https://utility.arcgisonline.com/arcgis/rest/services/Geometry/GeometryServer"/>
    <widget url="widgets/Navigation/NavigationWidget.swf" config="widgets/Navigation/NavigationWidget.xml" left="10" top="50"/>
    <widget url="widgets/OverviewMap/OverviewMapWidget.swf" config="widgets/OverviewMap/OverviewMapWidget.xml" right="0" bottom="0"/>
    <widget url="widgets/HeaderController/HeaderControllerWidget.swf" config="widgets/HeaderController/HeaderControllerWidget.xml" left="0" top="0"/>
    <widget url="widgets/MapSwitcher/MapSwitcherWidget.swf" config="widgets/MapSwitcher/MapSwitcherWidget.xml" right="20" top="55"/>
    <widget url="widgets/Splash/SplashWidget.swf" config="widgets/Splash/SplashWidget.xml" label="Splash"/>
    <map attributionvisible="true" esrilogovisible="true" openhandcursorvisible="false" scalebarvisible="true" scalebar="default" zoomslidervisible="false" wraparound180="true" addarcgisbasemaps="true" initialextent="-11775215.379992437 4936790.36668166 -9057726.150398571 6744373.211569028" wkid="102100" top="40" portalurl="https://umn.maps.arcgis.com/">
        <basemaps>
            <layer type="osm" label="OpenStreetMap" icon="https://umn.maps.arcgis.com/sharing/rest/content/items/5d2bfa736f8448b3a1708e1f6be23eed/info/thumbnail/temposm.jpg" visible="true"/>
        </basemaps>
        <operationallayers>
            <layer type="feature" label="Major Watersheds" icon="https://umn.maps.arcgis.com/sharing/rest/content/items/db08e244723847688f7b8b4c16280290/info/thumbnail/ago_downloaded.png?token=incb4XYfgqQTQqCGLSRVHCKtWAbBCal10AAMrdnbEP13Xz5u%2DK0F%2DRrhBnAi3XMw0Q7vKSXEibfXJS%2DZhUaR3sRgy4QJ2WhAsG61dyzJuhzrOzwznQF2lV7QuU7SO%5FCkSKND%2DwT6kMEj4bt1fM2%2D1Km2%5FOtCjb4NQA3%2Dv%2DFfnFGuWN%2DVPRDK3dcYTKT2wmaz" url="http://services.arcgis.com/8df8p0NlLFEShl0r/arcgis/rest/services/Minnesota_major_watershed_basins/FeatureServer/0" popupconfig="popups/PopUp_8.xml" mode="snapshot" visible="false"/>
            <layer type="feature" label="Watershed Catchments" alpha="0.51" url="http://23.20.61.55:6080/arcgis/rest/services/Watersheds/DNR_Level08/MapServer/0" popupconfig="popups/PopUp_7.xml" mode="onDemand" visible="true"/>
            <layer type="feature" label="Lakes" url="http://23.20.61.55:6080/arcgis/rest/services/Watersheds/WebMapWater/MapServer/1" mode="onDemand" visible="false"/>
            <layer type="dynamic" label="Famous Invasives by species" imageformat="png8" url="http://23.20.61.55:6080/arcgis/rest/services/Watersheds/Famous_Invasives_by_species/MapServer" visible="false"/>
            <layer type="dynamic" label="Zebra Mussels" imageformat="png8" url="http://23.20.61.55:6080/arcgis/rest/services/Watersheds/Zebra_Mussels/MapServer" visible="false"/>
            <layer type="dynamic" label="Eurasian watermilfoil" imageformat="png8" url="http://23.20.61.55:6080/arcgis/rest/services/Watersheds/Eurasian_watermilfoil/MapServer" visible="false"/>
            <layer type="dynamic" label="PurpleLoosestrife Time" imageformat="png8" url="http://23.20.61.55:6080/arcgis/rest/services/Watersheds/PurpleLoosestrife_Time/MapServer" visible="false"/>
        </operationallayers>
    </map>
    <widgetcontainer layout="float">
        <widget url="widgets/Locate/LocateWidget.swf" config="widgets/Locate/LocateWidget_1.xml" label="Address Locator" icon="assets/images/i_target.png" preload="open"/>
        <widget url="widgets/Geoprocessing/GeoprocessingWidget.swf" config="widgets/Geoprocessing/GeoprocessingWidget_1.xml" label="Upstream Tool" icon="assets/images/i_widget.png" preload="open"/>
        <widget url="widgets/Query/QueryWidget.swf" config="widgets/Query/QueryWidget_2.xml" label="Search Invasive Species" icon="assets/images/GenericSearch32.png"/>
        <widget url="widgets/Legend/LegendWidget.swf" config="widgets/Legend/LegendWidget_1.xml" label="Legend" icon="assets/images/Legend32.png"/>
        <widget url="widgets/Geoprocessing/GeoprocessingWidget.swf" config="widgets/Geoprocessing/GeoprocessingWidget_4.xml" label="Upstream-Downstream Tool" icon="assets/images/Capture.PNG"/>
        <widget url="widgets/Time/TimeWidget.swf" config="widgets/Time/TimeWidget_1.xml" label="Zebra mussels timeline" icon="assets/images/Zebra_mussel_GLERL_1.png"/>
        <widget url="widgets/Time/TimeWidget.swf" config="widgets/Time/TimeWidget_2.xml" label="Purple loosestrife timeline" icon="assets/images/purpleloosestrife.png"/>
        <widget url="widgets/Time/TimeWidget.swf" config="widgets/Time/TimeWidget_3.xml" label="Eurasian watermilfoil timeline" icon="assets/images/ewmleaf.gif"/>
    </widgetcontainer>
</configuration>
